@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.container {
  position: relative;
  width: 17.25rem;
  height: 15.4rem;
  margin: 1rem;
}

.thumbnail {
  display: flex;
  flex-direction: row;
  margin-top: 0.75rem;
}

.avatar {
  height: calc(3 * 0.75rem);
  width: calc(3 * 0.75rem);
}

.avatar img {
  border-radius: 50%;
  height: calc(3 * 0.75rem);
  width: calc(3 * 0.75rem);
}

.description {
  display: flex;
  flex-direction: column;
  margin-left: 0.75rem;
}

.description p {
  margin: 0;
}

.title {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 14.5rem;
  max-height: 1.75rem;
}

.info {
  margin: 0.375rem 0 0 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  color: #aaaaaa;
}
