@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.container {
  position: relative;
  width: 17.25rem;
  height: 9.688rem;
}

.container * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.card__image {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card__body {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.25rem;
  padding: 0.18rem 0.25rem;
  display: flex;
  background-color: #000000cc;
  gap: 0.5rem;
}

.card__body p {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
}
