.container {
  border-bottom: 1px solid;
  border-color: #ffffff1a;
  width: 224px;
  padding: 8px 0;
}

.menu {
  display: flex;
  flex-direction: row;
  width: 224px;
  height: 40px;
  align-items: center;
  padding: 0 24px;
}

.menu__top {
  display: flex;
  flex-direction: column;
}

.menu:hover {
  background-color: #909090;
}

.menu p {
  margin-left: 24px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  color: #ffffff;
}
